* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  background-image: url(/assets/background-section.png);
  background-size: 100% 674px;
  height: 674px;
  background-blend-mode: multiply;
  background-color: rgb(121, 119, 119);
  position: relative;
}

main::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 3%, rgba(29, 29, 29, 0) 25%);
  bottom: 0;
}

nav {
  display: flex;
  padding: 50px;
  padding-left: 60px;
  justify-content: space-between;
}

nav .special-text h1 {
  font-size: 13px;
  color: white;
  font-family: "Space Mono", monospace;
}

nav .special-text {
  background-color: #ae1d29;
  padding: 6px 15px;
}

.navbar span {
  color: #d71929;
  font-weight: 900;
}

.navbar a:hover {
  color: #ae1d29;
  transition: 1s;
}

.navbar {
  margin-top: 3.5px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  margin: 30px;
}

/* Hamburger */

/* From Uiverse.io by vinodjangid07 */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 30px;
  height: 25px;
  cursor: pointer;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(253, 255, 243);
  border-radius: 5px;
  transition-duration: 0.3s;
}

/* #checkbox:checked + .toggle .bars {
  margin-left: 13px;
} */

#checkbox:checked + .toggle #bar2 {
  transform: translateY(14px) rotate(60deg);
  margin-left: 0;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}

#checkbox:checked + .toggle #bar1 {
  transform: translateY(28px) rotate(-60deg);
  transition-duration: 0.3s;
  transform-origin: left;
  z-index: 1;
}

#checkbox:checked + .toggle {
  transform: rotate(-90deg);
}
/* #checkbox:checked + .toggle #bar3 {
  transform: rotate(90deg);
  transition-duration: .3s;
  transform-origin:right;
} */

section {
  display: flex;
  align-items: center;
}

section .text {
  color: azure;
}

main .image img {
  width: 600px;
}

section .image {
  margin-top: -310px;
  margin-right: 20px;
}

.text {
  margin-left: 10px;
}

.text .p1 {
  margin-top: -50px;
  color: #ff3e4e;
  font-family: "Space Mono", monospace;
}

.text .h1 {
  margin-top: 40px;
  font-size: 65px;
  font-family: "League Spartan", sans-serif;
  color: #d9d9d9;
}

.special-section {
  margin-top: 20px;
  background-color: #ae1d29;
  width: max-content;
  padding: 5px 13px;
  font-family: "Space Mono", monospace;
  font-size: 9px;
}

.p2 {
  margin-top: 35px;
  font-size: 19px;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

/* About */

#About {
  display: flex;
  align-items: center;
  background-image: url(/assets/background-about.png);
  background-blend-mode: multiply;
  background-color: rgb(59, 59, 59);
  position: relative;
  height: max-content;
}

#About img {
  width: 650px;
}

.text-about {
  margin-top: 40px;
}

.text-about p {
  font-size: 21px;
  font-family: "Space Mono", monospace;
  width: 450px;
  margin-top: 25px;
  color: white;
}

.text-about h1 {
  font-size: 68px;
  font-family: "League Spartan", sans-serif;
  margin-bottom: 50px;
  color: #ffffff;
}

/* Skils */

#skils {
  padding: 30px;
  height: 460px;
  background-color: rgb(0, 0, 0);
  padding-bottom: 140px;
}
.wrapper {
  margin-top: 100px;
}
.heading {
  margin-top: 30px;
  font-family: "League Spartan", sans-serif;
  font-size: 23px;
  color: #d9d9d9;
}

.heading span {
  color: #ae1d29;
}

.container {
  margin-top: 34px;
  display: flex;
  flex-wrap: wrap;
}

.kotak {
  display: flex;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  width: max-content;
  background-color: black;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.825);
  color: #d9d9d9;
  padding: 10px 31px;
  border-radius: 5%;
  margin: 20px;
}

.kotak h1 {
  margin-left: 8px;
}

#icon {
  width: 40px;
}

.kotak:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* Moto */

#certificate {
  height: 1300px;
  background-color: black;
  padding-top: 50px;
}

.bungkusan {
  width: 80%;
  height: max-content;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-left: 90px;
  box-shadow: 0px 0px 10px rgb(80, 79, 79);
  padding: 40px;
}

.frame img {
  width: 250px;
}

.frame {
  margin: 40px;
  border: 2px solid rgb(56, 56, 56);
  padding: 10px;
  width: max-content;
  height: max-content;
}

.headline {
  display: flex;
  color: #d9d9d9;
  justify-content: center;
}

.headline h1 {
  margin-left: 8px;
  font-size: 38px;
  font-family: "League Spartan", sans-serif;
  margin-top: 5px;
}

.frame:hover {
  transform: scale(1.1);
  transition: 1s;
}

/* Contact */

#contact {
  height: 1000px;
  background-color: black;
  color: white;
}

.pembuka {
  margin-left: 90px;
  font-family: "League Spartan", sans-serif;
}

.pembuka h1 {
  font-size: 140px;
}

.pembuka p {
  font-size: 20px;
  margin-left: 10px;
  margin-bottom: 12px;
  letter-spacing: 3px;
}

.bridging {
  margin-top: 110px;
  text-align: center;
  font-family: "Space Mono", monospace;
}

.bridging h1 {
  font-size: 36px;
  font-weight: 100;
}

.bridging p {
  font-size: 15px;
  width: 650px;
  margin-left: 288px;
}

.wrapper-sosmed {
  margin-top: 100px;
  display: flex;
  width: 80%;
}

.kotak-sosmed {
  display: flex;
  width: 200px;
  font-family: "Space Mono", monospace;
  margin: 0px 50px;
  background-color: rgba(21, 21, 21, 0.495);
  padding: 14px;
  border-radius: 5%;
}

.kotak-sosmed:hover {
  transform: translateY(-30px);
  transition: 1s;
}

.kotak-sosmed h1 {
  font-size: 17px;
  color: #ae1d29;
}

.tulisan {
  margin-left: 16px;
}

.kotak-sosmed p {
  font-size: 9px;
  margin-top: 5px;
  width: 130px;
}

.footer {
  height: 170px;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 13px;
}

.footer img {
  width: 120px;
  margin-left: 120px;
  margin-bottom: -30px;
}

.text-footer {
  margin-top: 12px;
}

/* Responsive */

/* Phone */

@media (min-width: 320px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  nav {
    padding-left: 30px;
  }

  .toggle {
    display: flex;
    z-index: 1002;
  }

  .navbar {
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 0;
    top: 0;
    width: 40%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    transform: translateX(300px);
    transition: all 1s;
    z-index: 900;
  }

  .navbar.slide {
    transform: translate(0px);
  }

  .navbar span {
    color: white;
  }

  /* Section */
  main .image img {
    width: 600px;
    opacity: 0.3;
  }

  section .image {
    margin-left: -310px;
  }

  .text {
    z-index: 2;
  }

  .text .h1 {
    font-size: 20px;
  }

  .special-section {
    font-size: 5px;
    padding: 3px 13px;
  }

  .p2 {
    font-size: 13px;
  }

  /* About */

  #About {
    flex-direction: column;
    justify-content: center;
  }
  #About img {
    width: 430px;
  }

  .text-about p {
    font-size: 14px;
    text-align: center;
    width: 100%;
  }

  .text-about h1 {
    font-size: 40px;
    text-align: center;
  }

  .text-about {
    margin-top: -20px;
  }

  /* Skils */

  #skils {
    height: 550px;
  }
  .kotak {
    font-size: 9px;
    margin: 10px;
    padding: 5px 15px;
  }

  #icon {
    width: 35px;
  }

  /* certificate */

  .bungkusan {
    margin: auto;
    flex-direction: column;
    width: max-content;
    margin-top: 70px;
  }

  .frame img {
    width: 190px;
  }

  .frame {
    margin: 20px;
  }

  /* Contact */
  #contact {
    height: 1930px;
  }
  .pembuka {
    margin-left: 45px;
  }
  .pembuka h1 {
    font-size: 50px;
  }
  .pembuka p {
    font-size: 15px;
    margin-left: 3px;
  }

  .bridging h1 {
    font-size: 22px;
    margin-top: -30px;
  }

  .bridging p {
    width: 370px;
    margin-left: 10px;
  }

  .wrapper-sosmed {
    flex-direction: column;
    margin-top: 20px;
  }

  .kotak-sosmed {
    margin: 30px 80px;
  }
}
